<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:include="include :: header('实验室信息')"/>
  <link th:href="@{/js/bootstrap-table/bootstrap-table.min.css}" rel="stylesheet"/>
</head>
<body>
<div class="container-fluid p-t-15">

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header"><h4>设备借用日志</h4></div>
        <div class="card-body">
          <div class="table-responsive">
            <!-- 表格数据 -->
            <table id="table"></table>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<th:block th:include="include :: table"/>
<script type="text/javascript">
    $(function () {
        $.fn.serializeObject = function () {
            let ct = this.serializeArray();
            let obj = {};
            $.each(ct, function () {
                if (obj[this.name] !== undefined) {
                    if (!obj[this.name].push) {
                        obj[this.name] = [obj[this.name]];
                    }
                    obj[this.name].push(this.value || "");
                } else {
                    obj[this.name] = this.value || "";
                }
            });
            return obj;
        }

        $('#table').bootstrapTable({
            url: '/api/borrow/instrument',                                     // 通过url 获取数据
            showRefresh: true,                                    // 是否刷新按钮
            sortStable: true,                                      // 是否支持排序
            cache: false,                                          // 是否使用缓存
            pagination: true,                                      // 是否显示分页
            sidePagination: 'client',
            searchAlign: 'right',
            search: true,                                         // 是否有搜索框
            pageNumber: 1,                                         // 首页页码，默认为1
            pageSize: 10,
            pageList: [10, 20, 30],//可选择单页记录数
            columns: [{
                field: 'id',
                align: 'center',
                valign: 'middle',
                title: '编号'
            }, {
                field: 'userName',
                title: '用户名'
            }, {
                field: 'instrumentName',
                title: '设备名'
            }, {
                field: 'status',
                title: '状态'
            }, {
                field: 'borrowStatus',
                title: '借用状态'
            }, {
                field: 'createTime',
                title: '日志事件'
            }]
        })
    });
</script>
</body>
</html>