<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:include="include :: header('借用设备')"/>
  <link th:href="@{/js/bootstrap-table/bootstrap-table.min.css}" rel="stylesheet"/>
  <!--日期选择插件-->
  <link rel="stylesheet" th:href="@{/js/bootstrap-datepicker/bootstrap-datepicker3.min.css}">
  <link th:href="@{/css/style.min.css}" rel="stylesheet">
</head>

<body>
<div class="container-fluid p-t-15">
  <div class="row">
    <div class="col-lg-6 col-md-6">
      <div class="card" style="height: 60rem;">
        <div class="card-header"><h4>预约信息</h4></div>
        <div class="card-body">
          <form class="row" id="addForm">
            <div class="form-group col-md-12 col-lg-12">
              <label for="createTime">选择预约时间</label>
              <input class="form-control js-datepicker m-b-10"
                     type="text" id="createTime" name="createTime"
                     placeholder="yyyy-mm-dd" value="" data-date-format="yyyy-mm-dd"/>
            </div>
            <div class="form-group col-md-12 col-lg-12">
              <label for="updateTime">预计归还时间</label>
              <input class="form-control js-datepicker m-b-10"
                     type="text" id="updateTime" name="updateTime"
                     placeholder="yyyy-mm-dd" value="" data-date-format="yyyy-mm-dd"/>
            </div>
            <div class="form-group col-md-12 col-lg-12">
              <label for="comment">预约原因</label>
              <textarea class="form-control" id="comment" name="comment" rows="5" value=""
                        placeholder="描述"></textarea>
            </div>
            <div class="form-group col-md-12 col-lg-12">
              <button type="button" class="btn btn-primary ajax-post" id="addBtn">确 定</button>
              <button type="button" class="btn btn-default">返 回
              </button>
            </div>
          </form>

        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6">
      <div class="card">
        <div class="card-header"><h4>设备信息</h4></div>
        <div class="card-body">
          <div class="table-responsive">
            <!-- 表格数据 -->
            <table id="table"></table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div th:include="include :: table"></div>
<!--日期选择插件-->
<script th:src="@{/js/bootstrap-datepicker/bootstrap-datepicker.min.js}"></script>
<script th:src="@{js/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js}"></script>
<script th:inline="javascript" type="text/javascript">
    $(function () {
        var idData = [];
        const userId = [[${userId}]];

        function contains(id) {
            for (let datum of idData) {
                if (datum === id) {
                    return false;
                }
            }
            return true;
        }

        $.fn.serializeObject = function () {
            let ct = this.serializeArray();
            let obj = {};
            $.each(ct, function () {
                if (obj[this.name] !== undefined) {
                    if (!obj[this.name].push) {
                        obj[this.name] = [obj[this.name]];
                    }
                    obj[this.name].push(this.value || "");
                } else {
                    obj[this.name] = this.value || "";
                }
            });
            return obj;
        }


        $('#table').bootstrapTable({
            url: '/api/laboratory/status',                                     // 通过url 获取数据
            showRefresh: true,                                    // 是否刷新按钮
            sortStable: true,                                      // 是否支持排序
            cache: false,                                          // 是否使用缓存
            pagination: true,                                      // 是否显示分页
            sidePagination: 'client',
            searchAlign: 'right',
            search: true,                                         // 是否有搜索框
            pageNumber: 1,                                         // 首页页码，默认为1
            pageSize: 10,
            pageList: [10, 20, 30],//可选择单页记录数
            onCheck: function (row) {
                if (contains(row.id)) {
                    idData.push(row.id);
                }
                console.log(idData)
            },
            onUncheck: function (row) {
                idData.forEach((item, index, arr) => {
                    if (item === row.id) {
                        arr.splice(index, 1);
                    }
                })
                console.log(idData);
            },
            onCheckAll: function (rows) {
                idData.splice(0, idData.length);
                for (let i = 0; i < rows.length; i++) {
                    idData.push(rows[i].id);
                }
                console.log(idData);
            },
            onUncheckAll: function (rows) {
                idData.splice(0, idData.length);
                console.log(idData)
            },
            columns: [{
                name: 'check',
                align: 'center',
                valign: 'middle',
                checkbox: true,
            }, {
                field: 'id',
                align: 'center',
                valign: 'middle',
                title: '编号'
            }, {
                field: 'image',
                title: '照片'
            }, {
                field: 'laboratoryName',
                title: '名称'
            }, {
                field: 'capacity',
                title: '容纳人数'
            }, {
                field: 'target',
                title: '实验类型'
            }]
        });
        $('#addBtn').click(() => {
            if (idData.length === 0) {
                lightyear.notify('请先选择要预约的实验室', 'danger', 100);
                return;
            }
            if (idData.length > 1) {
                lightyear.notify('一次只能选择1个实验室', 'danger', 100);
                return;
            }
            let form = $("#addForm").serializeObject();
            if (form.createTime === '' || form.createTime === undefined) {
                lightyear.notify('请先选择预约时间', 'danger', 100);
                return;
            }
            if (form.updateTime === '' || form.updateTime === undefined) {
                lightyear.notify('请先选择归还时间', 'danger', 100);
                return;
            }
            if (form.createTime > form.updateTime) {
                lightyear.notify('归还时间需大于或等于借用时间', 'danger', 100);
                return;
            }
            form['laboratoryId'] = idData[0];
            form['userId'] = userId;
            form['borrowStatus'] = '5';
            form['status'] = '1';
            console.log(form);
            axios.post('/api/borrow/laboratory', form).then(res => {
                lightyear.notify(res.data, 'success', 100);
            }).catch(err => {
                lightyear.notify(err.response.data.message, 'danger', 100);
            })
        });

    });
</script>
</body>
</html>
