<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:include="include :: header('实验室信息')"/>
  <link th:href="@{/js/bootstrap-table/bootstrap-table.min.css}" rel="stylesheet"/>
</head>
<body>
<div class="container-fluid p-t-15">
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="exampleModalLabel">编辑信息</h4>
        </div>
        <div class="modal-body">
          <form id="updateForm">
            <div class="form-group">
              <label for="id" class="control-label">ID：</label>
              <input type="text" name="id" class="form-control" id="id" disabled="disabled">
            </div>
            <div class="form-group">
              <label for="laboratoryName" class="control-label">实验室名称：</label>
              <input type="text" name="laboratoryName" class="form-control" id="laboratoryName">
            </div>
            <div class="form-group">
              <label for="capacity" class="control-label">容纳人数：</label>
              <input type="number" name="capacity" class="form-control" id="capacity">
            </div>
            <div class="form-group">
              <label for="target" class="control-label">实验类型：</label>
              <input type="text" name="target" class="form-control" id="target">
            </div>
            <div class="form-group">
              <div class="example-box">
                <label class="lyear-radio radio-inline radio-primary">
                  <input type="radio" checked="" name="status" value="0"><span>启用</span>
                </label>
                <label class="lyear-radio radio-inline radio-primary">
                  <input type="radio" name="status" value="1"><span>禁用</span>
                </label>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          <button type="button" id="updateBtn" class="btn btn-primary">确定</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-toolbar clearfix">
          <div class="toolbar-btn-action">
            <a class="btn btn-primary m-r-5" href="#!" id="addBtn"><i class="mdi mdi-plus"></i> 新增</a>
            <a class="btn btn-success m-r-5" href="#!" id="enableBtn"><i class="mdi mdi-check"></i> 启用</a>
            <a class="btn btn-warning m-r-5" href="#!" id="disableBtn"><i class="mdi mdi-block-helper"></i> 禁用</a>
            <a class="btn btn-danger" href="#!" id="delBtn"><i class="mdi mdi-window-close"></i> 删除</a>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <!-- 表格数据 -->
            <table id="table"></table>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<th:block th:include="include :: table"/>
<script type="text/javascript">
    $(function () {
        var idData = [];

        function contains(id) {
            for (let datum of idData) {
                if (datum === id) {
                    return false;
                }
            }
            return true;
        }

        $.fn.serializeObject = function () {
            let ct = this.serializeArray();
            let obj = {};
            $.each(ct, function () {
                if (obj[this.name] !== undefined) {
                    if (!obj[this.name].push) {
                        obj[this.name] = [obj[this.name]];
                    }
                    obj[this.name].push(this.value || "");
                } else {
                    obj[this.name] = this.value || "";
                }
            });
            return obj;
        }

        function getStatusJson(status, ids) {
            let data = {};
            data.status = status;
            data.ids = ids;
            return data
        }

        $('#table').bootstrapTable({
            url: '/api/laboratory',                                     // 通过url 获取数据
            showRefresh: true,                                    // 是否刷新按钮
            sortStable: true,                                      // 是否支持排序
            cache: false,                                          // 是否使用缓存
            pagination: true,                                      // 是否显示分页
            sidePagination: 'client',
            searchAlign: 'right',
            search: true,                                         // 是否有搜索框
            pageNumber: 1,                                         // 首页页码，默认为1
            pageSize: 10,
            pageList: [10, 20, 30],//可选择单页记录数
            onCheck: function (row) {
                if (contains(row.id)) {
                    idData.push(row.id);
                }
                console.log(idData)
            },
            onUncheck: function (row) {
                idData.forEach((item, index, arr) => {
                    if (item === row.id) {
                        arr.splice(index, 1);
                    }
                })
                console.log(idData);
            },
            onCheckAll: function (rows) {
                idData.splice(0, idData.length);
                for (let i = 0; i < rows.length; i++) {
                    idData.push(rows[i].id);
                }
                console.log(idData);
            },
            onUncheckAll: function (rows) {
                idData.splice(0, idData.length);
                console.log(idData)
            },
            columns: [{
                name: 'check',
                align: 'center',
                valign: 'middle',
                checkbox: true,
            }, {
                field: 'id',
                align: 'center',
                valign: 'middle',
                title: '编号'
            }, {
                field: 'laboratoryName',
                title: '名称'
            }, {
                field: 'deptName',
                title: '所属部门'
            }, {
                field: 'capacity',
                title: '容纳人数'
            }, {
                field: 'target',
                title: '实验类型'
            }, {
                field: 'useType',
                title: '教室性质'
            }, {
                field: 'admin',
                title: '创建人'
            }, {
                field: 'status',
                title: '状态',
                formatter: function (value, row, index) {
                    if (row.status === '0') {
                        return '<span class="label label-success">空闲</span>'
                    }
                    if (row.status === '1') {
                        return '<span class="label label-danger">废弃</span>'
                    }
                    if (row.status === '2') {
                        return '<span class="label label-info">维修中</span>'
                    }
                    return '<span class="label label-purple">借用中</span>';
                }
            }, {
                field: 'operate',
                title: '操作',
                align: 'center',
                valign: 'middle',
                width: 200,
                events: {
                    'click #edit': function (e, value, row, index) {
                        $('#exampleModal').on('show.bs.modal', function (event) {
                            var modal = $(this)
                            modal.find('.modal-title').text('编辑：' + row.laboratoryName);
                            modal.find('#id').val(row.id)
                            modal.find('#laboratoryName').val(row.laboratoryName)
                            modal.find('#capacity').val(row.capacity)
                            modal.find('#target').val(row.target)
                            modal.find('#status').val(row.status)
                        })
                        $('#exampleModal').modal();
                        $('#updateBtn').click(() => {
                            let form = $("#updateForm").serializeObject();
                            form['id'] = row.id;
                            console.log(form);
                            axios.put('/api/laboratory', form).then(res => {
                                lightyear.notify(res.data, 'success', 100);
                                $('#exampleModal').modal('hide');
                            }).catch(err => {
                                lightyear.notify(err.response.data.message, 'danger', 100);
                            })
                        })
                    },
                    'click #delete': function (e, value, row, index) {
                        axios.delete('/api/laboratory/' + row.id)
                            .then(res => {
                                lightyear.notify(res.data, 'success', 100);
                            }).catch(err => {
                            lightyear.notify(err.response, 'danger', 100);
                        });
                    }
                },
                formatter: function (value, row, index) {
                    let result = "";
                    result += '<a class="btn btn-xs btn-default" id="edit" href="#!" title="编辑" ><i class="mdi mdi-pencil"></i></a>';
                    result += '<a class="btn btn-xs btn-default" id="view" href="#!" title="查看" ><i class="mdi mdi-eye"></i></a>';
                    result += '<a class="btn btn-xs btn-default" id="delete" href="#!" title="删除"><i class="mdi mdi-window-close"></i></a>';
                    return result;
                }
            }]
        }),

            $('#addBtn').click(() => {
                parent.$(parent.document).data('multitabs').create({
                    iframe: true,                                // 指定为iframe模式，当值为false的时候，为智能模式，自动判断（内网用ajax，外网用iframe）。缺省为false。
                    title: '信息导入',                     // 标题（可选），没有则显示网址
                    url: '/laboratory/import'                    // 链接（必须），如为外链，强制为info页
                }, true);
            }),

            $('#enableBtn').click(() => {
                if (idData.length === 0) {
                    lightyear.notify('请先选择要启用的用户', 'warning', 100);
                    return;
                }

                let json = getStatusJson('0', idData);
                axios.patch('/api/laboratory', json).then(res => {
                    idData = [];
                    lightyear.notify('启用成功', 'success', 100);
                }).catch(err => {
                    lightyear.notify('启用失败' + err.response.data.message, 'danger', 100);
                })
            }),

            $('#disableBtn').click(() => {
                if (idData.length === 0) {
                    lightyear.notify('请先选择要启用的用户', 'warning', 100);
                    return;
                }

                let json = getStatusJson('1', idData);
                console.log(json);
                axios.patch('/api/laboratory', json).then(res => {
                    idData = [];
                    lightyear.notify('禁用成功', 'success', 100);
                }).catch(err => {
                    console.log(err.response);
                    lightyear.notify('禁用失败' + err.response.data.message, 'danger', 100);
                })
            }),

            $('#delBtn').click(() => {
                if (idData.length === 0) {
                    lightyear.notify('请先选择要删除的用户', 'warning', 100);
                    return;
                }
                axios({
                    method: 'delete',
                    url: '/api/laboratory',
                    data: idData
                }).then(res => {
                    idData = [];
                    lightyear.notify('删除成功', 'success', 100);
                }).catch(err => {
                    lightyear.notify('删除失败' + err.response.message, 'danger', 100);
                });
            })

    });
</script>
</body>
</html>